mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon_" + name + ' ' + mod)
		use(xlink:href="assets/img/sprite.svg#" + name)

mixin about(mod)
	- mod = mod || ''
	.about__img
		img(src="assets/img/my-photo.png", alt="my-photo").about__photo
	h1(class="about__name" + mod) Панчелюга Виктор
	p(class="about__description" + mod) Личный сайт веб-разработчика



mixin text-with-lines (text, mod)
	h2(class="text-with-lines" + ' ' + mod)
		| #{text}

mixin parallax (typeOfParallax,mountOfLayers)
	ul(class="parallax__" + typeOfParallax)
		each layer in mountOfLayers
			li(class="layer")
				div(class="layer__img" + " " +"layer__img_" + layer)




mixin social (mod,type)
	- mod = mod || ''
	- type = type || ''
	.socials
		ul.socials__list
			li.socials__item
				a(href="https://vk.com/vitya2806" target="_blank" class="socials__link") vk
					+icon('vk' + type, mod)
			li.socials__item
				a(href="https://github.com/vitya2806" target="_blank" class="socials__link" ) github
					+icon('github' + type,mod)
			li.socials__item
				a(href="https://www.linkedin.com/in/victor-pancheluha-157472131?trk=hp-identity-name" target="_blank" class="socials__link") in
					+icon('in' + type,mod)



mixin skill(techChapter, skillNames)
	h5(class="skill__name") #{techChapter}
	ul.skill__list
		each skill in skillNames
			li(class="skill__item")
				.circle-wrap
					svg(class="circle" + ' ' + skill)
						circle(transform="rotate(-90)" r="50px" cx="-60px" cy="60px")
						circle(transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50px" cx="-60px" cy="60px")
					span.circle__text
						| #{skill}

mixin slider-left(description_text, technologies_text, href,active)
	- var active = active || ""
		div(class="slider-inner" + " " + active)
			.slider__description
				h4.slider__description-text #{description_text}
				p.slider__technologies #{technologies_text}
				a(href=href class="slider__link" target="_blank") Перейти на сайт



mixin navigation(className,items)
	nav(class=className)
		ul(class=className + "__list")
			- var items = items || {"Мои работы": "works.html", "Обо мне": "about.html","Блог": "blog.html", "Авторизация":"welcome.html"}
			each href, nav in items
				li(class=className + "__item")
					a(href=href class=className + "__link")= nav

